* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #99BC85;
}

.navbar {
    background-color: #556B2F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    position: sticky;
    top: 0;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 8px 10px;
    transition: 0.3s;
}

.nav-item:hover {
    background-color: #fff;
    color: #4b602a;
    border-radius: 30px;
}

.nav-item:active {
    background-color: #fff;
    color: #4b602a;
    font-weight: bold;
}

.logo {
    font-size: 25px;
    font-weight: Bold;
}

.judul-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 80px;
    gap: 30px;
}

.judul-container h1{
    font-size: 30px;
    color: #000000;
}

.search-bar {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 220px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 80px 60px;
}

.card {
    background-color: white;
    width: 300px;
    border-radius: 12px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card button {
    background-color: #556B2F;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin: 15px 0 20px;
}

.card button:hover {
    background-color: #38491f;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #ffffff;
  color: #0B710B;
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.popup-content h3 {
  margin-top: 0;
}

#popup-close {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #0B710B;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
