* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #a8b88b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
}

.card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #2d2d2d;
}

label {
    font-weight: 500;
    display: block;
    margin-top: 1rem;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

.password-field,
.phone-field {
    display: flex;
    align-items: center;
    position: relative;
}



.toggle {
    position: absolute;
    right: 12px;
    width: 22px;
    height: 22px;
    top: 50%;
    margin-top: 3px;
    cursor: pointer;
    opacity: 0.7;
    transform: translateY(-50%) scale(1);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.toggle:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1); 
}

.toggle.smooth-change {
  animation: smoothSwap 0.35s ease;
}


@keyframes smoothSwap {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.85);
  }
  50% {
    opacity: 0.6;
    transform: translateY(-50%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}

.btn {
    width: 100%;
    margin-top: 1.5rem;
    background: #556B2F;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

.divider {
    text-align: center;
    margin: 1.2rem 0;
    color: #666;
}

.btn-google,
.btn-facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1.5px solid #ccc;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    margin-bottom: 10px
}

.btn-google img,
.btn-facebook img {
  width: 20px;
  height: 20px;
}

.btn-google:hover,
.btn-facebook:hover {
    background: #f5f5f5;
}

.signup-link,
.login-link {
    text-align: center;
    margin-top: 1.2rem;
    color: #555;
    font-size: 0.9rem;
}

.signup-link a,
.login-link a {
    color: #4b5d2a;
    text-decoration: none;
    font-weight: 600;
}

.back-arrow {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

.popup-success {
  position: fixed;
  top: 20px;
  right: -300px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 22px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-weight: 600;
  transition: all 0.4s ease;
  z-index: 9999;
}

.popup-success.show {
  right: 20px;
  opacity: 1;
}